################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectEvaluation/utopiacatering.metadata.v9.bin
/.vs/ProjectEvaluation/utopiacatering.projects.v9.bin
/.vs/ProjectEvaluation/utopiacatering.strings.v9.bin
/.vs/UtopiaCatering/DesignTimeBuild/.dtbcache.v2
/.vs/UtopiaCatering/FileContentIndex/28615f45-2803-45ec-bf4e-b5b0af9560d7.vsidx
/.vs/UtopiaCatering/FileContentIndex/8b2c2095-ab61-4f18-8cda-d2b737628d60.vsidx
/.vs/UtopiaCatering/FileContentIndex/d631c42a-246f-4de9-b897-e72e8203c677.vsidx
/.vs/UtopiaCatering/FileContentIndex/eb1b49a6-c659-4948-87c6-e6d2951befd1.vsidx
/.vs/UtopiaCatering/FileContentIndex/f5a8a62b-d946-4c0b-a88b-e58cce85e850.vsidx
/.vs/UtopiaCatering/FileContentIndex/d631c42a-246f-4de9-b897-e72e8203c677.vsidx
/.vs/UtopiaCatering/FileContentIndex/eb1b49a6-c659-4948-87c6-e6d2951befd1.vsidx
/.vs/UtopiaCatering/FileContentIndex/f5a8a62b-d946-4c0b-a88b-e58cce85e850.vsidx
/.vs/UtopiaCatering/FileContentIndex/84be0035-321f-467c-9840-4b61b3dc385f.vsidx
*.vsidx
/.vs/UtopiaCatering/v17/.futdcache.v2
/.vs/UtopiaCatering/v17/.suo
/.vs/UtopiaCatering/v17/DocumentLayout.backup.json
/.vs/UtopiaCatering/v17/DocumentLayout.json
*.dll
/bin/Debug/net9.0/UtopiaCatering.dll
/bin/Debug/net9.0/Microsoft.Win32.SystemEvents.dll
/bin/Debug/net9.0/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
/bin/Debug/net9.0/runtimes/win/lib/net6.0/System.Drawing.Common.dll
/bin/Debug/net9.0/runtimes/win/lib/net6.0/System.Security.Cryptography.ProtectedData.dll
/bin/Debug/net9.0/runtimes/win/lib/net6.0/System.Windows.Extensions.dll
/bin/Debug/net9.0/System.Configuration.ConfigurationManager.dll
/bin/Debug/net9.0/System.Drawing.Common.dll
/bin/Debug/net9.0/System.Security.Cryptography.ProtectedData.dll
/bin/Debug/net9.0/System.Security.Permissions.dll
/bin/Debug/net9.0/System.Windows.Extensions.dll
/bin/Debug/net9.0/UtopiaCatering.deps.json
/bin/Debug/net9.0/UtopiaCatering.exe
/bin/Debug/net9.0/UtopiaCatering.pdb
/bin/Debug/net9.0/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
/obj/Debug/net9.0/ref/UtopiaCatering.dll
/obj/Debug/net9.0/refint/UtopiaCatering.dll
/obj/Debug/net9.0/apphost.exe
/obj/Debug/net9.0/UtopiaCatering.AssemblyInfo.cs
/obj/Debug/net9.0/UtopiaCatering.AssemblyInfoInputs.cache
/obj/Debug/net9.0/UtopiaCatering.assets.cache
/obj/Debug/net9.0/UtopiaCatering.csproj.AssemblyReference.cache
/obj/Debug/net9.0/UtopiaCatering.csproj.CoreCompileInputs.cache
/obj/Debug/net9.0/UtopiaCatering.csproj.FileListAbsolute.txt
/obj/Debug/net9.0/UtopiaCatering.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net9.0/UtopiaCatering.pdb
/obj/Debug/net9.0/UtopiaCatering.sourcelink.json
/obj/project.assets.json
/obj/project.nuget.cache
/obj/UtopiaCatering.csproj.EntityFrameworkCore.targets
/obj/UtopiaCatering.csproj.nuget.dgspec.json
/obj/UtopiaCatering.csproj.nuget.g.props
/obj/UtopiaCatering.csproj.nuget.g.targets
/obj/Debug/net9.0/staticwebassets.build.json
/obj/Debug/net9.0/staticwebassets.upToDateCheck.txt
